.venv/
venv/
env/
**/__pycache__/
.DS_Store
.vscode/
.idea/
build/
dist/
*.egg-info/
*.log
*.bak
*.swp
*.tmp
*.~*
.coverage
htmlcov/
.tox/
.pytest_cache/
.env
.env.*
pip-freeze.txt
*.h5
*.pt
*.ckpt
*.joblib
*.pkl
*.twb
*.twbx
*.pbix